/* Adjust the height of all table cells */
.table thead {
    height: 60px; /* Adjust the height value as needed */
    vertical-align: middle;
  }

/* Vertically center the text within the cells */
table.table-striped tbody td {
    vertical-align: middle;
}

#tax_authority{
    color:blue;
}
