<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Taxes</title>
</head>

<body>
  <!--Navbar consists only Home and Add Tax-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/add">Add Tax</a>
        </div>
      </div>
    </div>
  </nav>
  <!--Table to display all the taxes-->
  <!--container-->
  <div class="container my-5">
    <div class="row">
      <div class="d-flex d-flex justify-content-between">
        <h3 id="tax_authority">List of Tax Authority</h3>
        <!--Add button -->
        <button class="btn btn-primary" routerLink="/add"><i class="fa-solid fa-plus"></i> Add New Tax Authority</button>
        <button class="btn btn-primary" routerLink="/addtaxrate">Add Tax Rate</button>
        <button class="btn btn-primary" routerLink="/viewtaxrate">View Tax Rate</button>
      </div>
      <div class="col my-3">
        <table class="table table-striped my-3">
          <thead class="thead-dark table-dark">
            <tr>
              <th scope="col">Actions</th>
              <th scope="col">Name</th>
              <th scope="col">Country Name</th>
              <th scope="col">Tax Type</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tax of taxes">
              <td>
                <button type="button" class="btn btn-default" routerLink="/updatetaxrate/{{tax.pk}}"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="btn btn-default btn-lg" (click)="deleteTax(tax.pk)"><i class="fa-solid fa-trash-can"></i></button>
              </td>
              <td>{{tax.name}}</td>
              <td>{{countries[tax.country]}}</td>
              <td>{{tax.taxtype}}</td>
              <td>{{tax.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</body>

</html>