#tax_authority {
    color: blue;
    font-size: 20px;
}

#status_label {
    margin-left: 2px;
}

#active {
    margin-right: 15px;
}

#inactive {
    margin-left: 10px;
}

.required::after{
    content:" *";
    color:red;
    font-size:20px;
}

