#tax_authority {
    color: blue;
    font-size: 20px;
}

#is_active_label {
    margin-left: 2px;
}

#active {
    margin-right: 15px;
}

#inactive {
    margin-left: 10px;
}

#active_tax_details {
    font-size: 12px;
}

#inactive_tax_details {
    font-size: 12px;
}

.required::after {
    content: " *";
    color: red;
    font-size: 20px;
}

.smaller-font {
    font-size: 12px;
}

.define_tax_rate_details {
    text-align: center;
    color: rgb(75, 73, 73);
    margin-bottom: 40px;
}